cat <<EOF > .gitignore
# Ignore temporary and cache files
#auto_saved_files#
fp-info-cache
fp-lib-table
sym-lib-table
*.lck

# Ignore backup files
Macroboard-v2-backups/

# Ignore Fusion 360 files

EOF
